@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
        ::selection {
            color: #fff;
            background: #007bff;
        }
        body {
            padding: 15px;
            display: flex;
/*            align-items: center;*/
/*            justify-content: center;*/                    
            min-height: 100vh;
            background-color: #fff;
        }
        .wrapper {
            align-items: center;
            justify-content: center;
/*            max-width: 1500px;*/
        }
        .gallery {
            display: flex;
            flex-wrap: wrap;
        }
        .gallery .image {
            padding: 7px;
            width: calc(100% / 3);
        }
        .gallery .image span {
          /*  align-items: center;
            justify-content: center;*/
            display: flex;
            width: 100%;
            overflow: hidden;
        }
        .gallery .image img {
            width: 500px; /* Set a specific width */
            height: 300px; /* Set a specific height */
            vertical-align: middle;
            transition: all 0.3s ease;
            border-radius: 33px;
        }
        .gallery .image:hover img {
            transform: scale(1.1);
        }
        .preview-box {
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0.9);
            background: #fff;
            max-width: 700px;
            width: 100%;
            z-index: 5;
            opacity: 0;
            pointer-events: none;
            border-radius: 3px;
            padding: 0 5px 5px 5px;
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        }
        .preview-box.show {
            opacity: 1;
            pointer-events: auto;
            transform: translate(-50%, -50%) scale(1);
            transition: all 0.3s ease;
        }
        .preview-box .details {

            display: flex;
            align-items: center;
            padding: 12px 15px 12px 10px;
            justify-content: space-between;
        }
        .preview-box .details .title {
            display: flex;
            font-size: 18px;
            font-weight: 400;
        }
        .details .title p {
            margin: 0 5px;
        }
        .details .title p.current-img {
            font-weight: 500;
        }
        .details .icon {
            color: #007bff;
            font-size: 20px;
            cursor: pointer;
        }
        .preview-box .image-box {
            display: flex;
            width: 100%;
            position: relative;
        }
        .image-box .slide {
            align-items: center;
            justify-content: center;
/*            position: absolute;*/
            top: 50%;
            transform: translateY(-50%);
            color: #fff;
            font-size: 30px;
            cursor: pointer;
            height: 50px;
            width: 60px;
            line-height: 50px;
            text-align: center;
            border-radius: 3px;
        }
        .slide.prev {
            left: 0px;
        }
        .slide.next {
            right: 0px;
        }
        .image-box img {
            width: 100%;
            border-radius: 0 0 3px 3px;
        }
        .shadow {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 2;
            display: none;
            background: rgba(0, 0, 0, 0.45);
        }
        #btn {
            display: flex;
            gap: 40%;
            color: darkred;
        }

      
        #select{
              background: black;
              border: none;
              border-radius: 60px;
              color: #fff;
              cursor: pointer;
              display: inline-block;
              font-family: 'Rubik', sans-serif;
              font-size: inherit;
              font-weight: 500;
              margin-bottom: 1rem;
              outline: none;
              padding: 1rem 50px;
              position: relative;
              transition: all 0.3s;
              vertical-align: middle;
        }
          #file-input {
            display: none;
/*            color: transparent;*/
            
            text-decoration: none;
            background-color:  #c48b75;
            border: none;
            border-radius: 60px;
            color: #fff;
            cursor: pointer;
/*            display: flex;*/
            font-family: 'Rubik', sans-serif;
            font-size: inherit;
            font-weight: 500;
            margin-bottom: 1rem;
            outline: none;
            padding: 1rem 10px;
            position: relative;
            transition: all 0.3s;
            vertical-align: middle;
}

.btn1 {
            background-color:  black;
            border-radius: 60px;
            font-family: 'Rubik', sans-serif;
            font-size: inherit;
            font-weight: 500;
            margin-bottom: 1rem;
            outline: none;
            padding: 1rem 10px;
            position: relative;
            transition: all 0.3s;
            vertical-align: middle;
            text-decoration: none;
            border: none;
            border-radius: 60px;
            color: #fff;
            cursor: pointer;
}

        .lemon{
/*            background-color: gray;*/
            color: red;
            border: none;
            outline: none;
            margin-top: 15px;
            text-align: center;
            padding: 5px 5px;
            border-radius: 15px;
        }
        #new-category {
            background: black;
              border: none;
              border-radius: 15px;
              color: #fff;
              cursor: pointer;
              display: inline-block;
              font-family: 'Rubik', sans-serif;
              font-size: inherit;
              font-weight: 300;
              margin-bottom: 1rem;
              outline: none;
              padding: 1rem 30px;
              position: relative;
              transition: all 0.3s;
              vertical-align: middle;

        }
        #add-category {
            background: black;
              border: none;
              border-radius: 15px;
              color: #fff;
              cursor: pointer;
              display: inline-block;
              font-family: 'Rubik', sans-serif;
              font-size: inherit;
              font-weight: 300;
              margin-bottom: 1rem;
              outline: none;
              padding: 1rem 30px;
              position: relative;
              transition: all 0.3s;
              vertical-align: middle;
        }

        
        

        @media(max-width: 1000px) {
            .gallery .image {
                width: calc(100% / 2);
            }
        }

        @media(max-width: 600px) {
            .gallery .image {
                width: 100%;
                padding: 4px;
            }
        }